body {
	margin: 0;
	background: transparent;
	overflow: hidden;
}

#debug-last-follower {
	white-space: pre-line;
	z-index: 100;
}

#follow-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	pointer-events: none;
}

#follow-gif {
	/*position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	pointer-events: none;
	max-width: 80vw;
	max-height: 80vh;
	z-index: 9999;*/

	max-width: 80vw;
	max-height: 80vh;
	display: none;
	pointer-events: none;
	margin: 0 auto;
}

#follow-text {
	display: none;
	text-align: center;
	color: white;
	font-size: 30px;
	margin-top: 10px;
	font-family: Arial, sans-serif;

	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#blackout-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 99;
}

#blackout-text {
	color: white;
	font-size: 4em;
	font-weight: bold;
	text-align: center;
}

#follower-buttons button{
	display: block;
	margin-bottom: 2em;
}

#follower-buttons {
	display: none;
	margin-bottom: 5em;
}